.citacoes {
    background-color: #D9E5E3;
    border: .5em solid #C2CCCA;
    width: 30ch; 
    box-sizing: border-box;
    margin: 1em 2em;

    transition: box-shadow 1s, transform 1s;
    transition-delay: 1s, 0s;
}

.citacoes:nth-of-type(odd) {
    float: right;
}

.citacoes:nth-of-type(even){
    float: left;
}

.sub-titulo{
    clear: both;
}

cite{
    float: right;
    font-style: italic;
}


.citacoes:hover,
.citacoes:focus{
    box-shadow: 0 0 0 9999px rgba(0,0,0, 0.5);
    transition-delay: 0s, 1s;
}

.citacoes:nth-of-type(odd):hover,
.citacoes:nth-of-type(odd):focus{
    transform: scale(1.2) rotate(-5deg);
}

.citacoes:nth-of-type(even):hover,
.citacoes:nth-of-type(even):focus{
    transform: scale(1.2) rotate(5deg);
}

.container p::first-letter{
    font-size: 2em;
    margin-right: .2ch;
}

.citacoes:before{
    content: '"';
    position: absolute;
    font-size: 3em;
    color: #bbb;
    line-height: .8;
}

.citacoes > p{
    position: relative;
}

.redes-sociais a:hover::after,
.redes-sociais a:focus::after{
    content: attr(data-tooltip);
    position: absolute;
    top: 95%;
    right: 40%;
    text-indent: 0;
    font-size: .5em;
}

.redes-socias a{
    position: relative;
}

table{
    border-collapse: separate;
    border-spacing: .25em;
}

table [colspan]{
    text-align: center;
    font-style: italic;
}

table [rowspan]{
    vertical-align: middle;
}

table td {
    background-color: #EEE;
    color: inherit;
}

th, tr {
    margin: .25em;
    padding: 1em;
}

th{
    color: #fff;
    font-weight: bold;
}

thead th{
    background-color: #3C1D3D;
}

tbody th{
    background-color: #851944;
}