.leia-mais{
    font-size: 1.3em;
    padding: .4em;
    margin: .7em;
    display: block;
    background-color: #E6E7E8;;
    text-align: center;
}

.artigos + .artigos {
    background-image: -webkit-linear-gradient(to right, transparent, #000, transparent);
    background-image: -moz-linear-gradient(to right, transparent, #000, transparent);
    background-image: linear-gradient(to right, transparent, #000, transparent);
    background-size: 100% 1px;
    background-repeat: no-repeat;
    background-position: top center;
    margin-top: 20px;
    padding-top: 30px;
}