.leia-mais{
    font-size: 25px;
    padding: 8px;
    margin: 16px;
    display: block;
    background-color: #E6E7E8;;
    text-align: center;
}

.artigos {
    border-bottom: 1px solid #ccc;
    margin-bottom: 20px;
    padding-bottom: 30px;
}