.leia-mais{
    font-size: 1.3em;
    padding: .4em;
    margin: .7em;
    display: block;
    background-color: #E6E7E8;;
    text-align: center;
}

.artigos {
    border-bottom: 1px solid #ccc;
    margin-bottom: 20px;
    padding-bottom: 30px;
}