.imagem-container{
    display: inline-block;
    width: 45%;
 
    border: 8px solid #000;
    padding: 16px;
    box-sizing: border-box;
    margin-bottom: 16px;
    margin-right: 16px;
 
    background-color: #FAFFFC;
 }
 
 .portifolio img{
     width: 100%;
 }